@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300;1,400&family=Smooch+Sans:wght@100&family=The+Girl+Next+Door&display=swap');
body {
  margin: 0;
   background-color: #131722 !important;
   color: #fff;
   font-family: 'Montserrat Alternates', sans-serif;
}

.errorInfo{
  width: 100%;
  height: 42px;
  border-radius: 5px;
  margin:5px auto;
  background-color: #fff;
  text-align: center;
  color: #131722;
  line-height: 42px;
  font-size: 20px;
  text-transform: capitalize;
}